@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi&display=swap');
h1{
    color:blue;
}
p{
    color:brown;
    font-size:16px;
    font-family: 'Noto Sans Kawi', sans-serif;
    font-weight: normal;/* lighter normal medium bold*/
    text-align: justify;/* left right center justify*/
    text-decoration: none;/* underline line-through overline none*/
    text-transform:uppercase;/* uppercase lowercase captitalize none*/
    line-height:1.5;
    width:800px;
    background-color: bisque;
    padding:10px;
}
p:hover{
    background-color: aquamarine;
    transform: translate(50px,0px);
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes circle{
    0%{transform:rotate(0);}
    10%{transform:rotate(36deg);}
    20%{transform:rotate(72deg);}
    30%{transform:rotate(108deg);}
    40%{transform:rotate(144deg);}
    50%{transform:rotate(180deg);}
    60%{transform:rotate(216deg);}
    70%{transform:rotate(252deg);}
    80%{transform:rotate(288deg);}
    90%{transform:rotate(324deg);}
    100%{transform:rotate(360deg);}

}
a{
    text-decoration: none;

}